apiVersion: v1
kind: Pod
metadata:
  name: redis-cluster-config
spec:
  restartPolicy: OnFailure
  containers:
  - name: redis-cli
    image: redis:6.2
    command:
    - /bin/sh
    - -c
    - |
      sleep 10
      redis-cli --cluster create \
      redis-cluster-0.redis-cluster-service:6379 \
      redis-cluster-1.redis-cluster-service:6379 \
      redis-cluster-2.redis-cluster-service:6379 \
      redis-cluster-3.redis-cluster-service:6379 \
      redis-cluster-4.redis-cluster-service:6379 \
      redis-cluster-5.redis-cluster-service:6379 \
      --cluster-replicas 1 --cluster-yes